h3.ui.horizontal.divider.header.beforeCards
    i.sticky.note.icon
    | Passed exams

.ui.stackable.three.cards
    each book in books
        .ui.card
            .content
                a.header(href='/learn/' + book.id)= book.name
                .meta= 'Passed ' + results.exams[book.id].length + '/' + book.count + ' exams'
                .description
                    each result in results.exams[book.id]
                        a.ui.label(href='/learn/' + book.id + '/' + result.day, data-html=result.dates.join('<br>'))
                            if result.count > 1
                                each _ in [...Array(result.count - 1)]
                                    i.star.icon
                            | #{result.day}
                        | &nbsp;
                    else
                        | You haven't passed any exams yet!

h3.ui.horizontal.divider.header
    i.checked.calendar.icon
    | Passed weekly tests

.ui.center.aligned.padded.segment
    each result in results.weeklyTests
        pre= JSON.stringify(result)
    else
        | You haven't passed any weekly tests yet!
