extends ../page

mixin word(data, index)
    .word.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column
        .grouped.fields
            label.word= data.word
            .ui.mini.star.rating(data-rating=data.level, data-max-rating='3')
            each option in data.options
                .field
                    .ui.radio.checkbox
                        input.hidden(tabindex='0', name=data.word, value=option.meaning, type='radio')
                        label.option= option.meaning

append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/exam.css')

append scripts
    script(src='/js/exam.js')

append rightMenu
    a.active.blue.item#submit Submit

append main
    if message.length > 0
        .ui.error.message
            if Array.isArray(message)
                ul.list
                    each msg in message
                        li= msg
            else
                | #{message}

    form.ui.huge.form(action='/exam/' + book + '/' + day, method='post')
        .ui.error.message
        .ui.grid.container
            each data, index in words
                +word(data, index)
