extends ../page

mixin renderWord(word, index)
    .word.column
        .ui.right.aligned.container
            | #{index + 1}/#{day.words.length}
            .ui.star.rating(data-rating=word.level, data-max-rating='3')
        .ui.vertical.animated.massive.fluid.button
            .hidden.content= word.meaning
            .visible.content= word.id

append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/learning.css')

append scripts
    script.
        $(function(){
            $('.ui.rating').rating('disable');
        });


append rightMenu
    a.active.blue.item(href='/exam/' + day.book + '/' + day.id) Exam

append main
    .ui.stackable.two.column.grid
        each word, index in day.words
            +renderWord(word, index)
